@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('/ZPortfolio/fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('/ZPortfolio/fonts/JetBrainsMonoNerdFont-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }


