---
import Layout from '../layouts/Layout.astro';
import About from '../components/aboutme.md';
---

<Layout title="About me">
    <p class="text-7xl text-neutral-950" slot="content">Me</p>
    <About></About>
</Layout>