---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Github Repos">
	<main>
		<Header />
		<Navbar />
	</main>
</Layout>

<p class="text-7xl text-neutral-950">GITHUBBB</p>