---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Social">
    <p class="text-7xl text-neutral-950" slot="content">Social</p>
</Layout>