---
import { render } from 'astro/compiler-runtime';
import { getCollection } from 'astro:content';
const abouts = await getCollection("abouts");
---


<div class="xl:flex xl:flex-col xl:gap-2 xl:mx-24 xl:w-6/6">
{
    abouts.map(async (about: { render?: any; slug?: any; data?: any; }) => {
        const { slug, data } = about;
        const { title } = data;

        const { Content } = await about.render();

        return(
                <div class="border-2 border-gruv-bg-1-dark dark:border-gruv-yellow shadow-lg shadow-neutral-400 mx-auto my-6 mt-10 px-6 py-2 pb-6 rounded-xl w-10/12">
                    <h1 class="py-4 font-bold text-2xl dark:text-gruv-yellow">
                        {title}
                    </h1>
                    <p class="inline-flex break-words">
                        <Content />
                    </p>
                </div>
        );
    })
}
</div>