<nav class="justify-center mx-auto px-4 py-14 w-8/12 max-w-xl h-16">
    <div class="flex justify-between bg-teal-700 text-center">
        <a href="/">Google Search</a>
        <a href="/aboutme">About Me</a>
        <a href="/github">Github</a>
        <a href="/social">Social</a>
    </div>
</nav>