<nav class="justify-center mx-auto px-4 py-14 max-w-xl w-8/12 h-16">
    <div class="bg-teal-700 flex justify-between text-center">
        <a href="/" class="">Google Search</a>
        <a href="/github">Github</a>
        <a href="/social">Social</a>
    </div>
</nav>