---
import { render } from 'astro/compiler-runtime';
import { getCollection, getEntry } from 'astro:content';
const repos = await getCollection("repos")
---
<div>
{
    repos.map(async (repo: { render?: any; slug?: any; data?: any; }) => {
        const { slug, data } = repo;
        const { title, img } = data;

        const { Content } = await repo.render();

        return(
            <a href={`https://github.com/ZMiK0/${slug}`} target="_blank">
                <div class="border-2 border-neutral-900 mx-auto my-6 px-6 py-2 rounded-xl w-10/12 h-auto">
                    <h1 class="py-4 font-bold text-2xl">
                        {title}
                    </h1>
                    <p class="break-words">
                        <Content />
                    </p>

                    <img src={`/${img}`} alt="">
                </div>
            </a>
        );
    })
}
</div>