<a href="">
    <div class="border-2 border-neutral-900 mx-auto my-6 px-6 py-2 rounded-xl w-10/12 h-auto">
        <h1 class="font-bold text-2xl">
            Título
        </h1>

        <p class="break-words">
            Descripción, lalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalala
        </p>

        <img src="" alt="">
    </div>
</a>