---
import { render } from 'astro/compiler-runtime';
import { getCollection } from 'astro:content';
const repos = await getCollection("repos")
---
<div class="flex flex-col xl:grid xl:grid-cols-2 xl:ml-60 xl:w-6/6">
{
    repos.map(async (repo: { render?: any; slug?: any; data?: any; }) => {
        const { slug, data } = repo;
        const { title, img } = data;

        const { Content } = await repo.render();

        return(
            
            <div class="border-2 border-neutral-900 dark:border-neutral-50 shadow-lg shadow-neutral-400 mx-auto xl:mx-0 my-6 rounded-xl w-10/12 h-auto transform hover:scale-105">
                <a href={`https://github.com/ZMiK0/${slug}`} target="_blank" class="xl:block md:flex">
                    <div class="px-6 py-4 md:w-4/6 xl:w-auto">
                        <h1 class="py-4 font-bold text-2xl">
                            {title}
                        </h1>
                        <p class="break-words">
                            <Content />
                        </p>
                    </div>
                    <div class="md:flex md:items-center xl:place-content-center px-6 md:px-4 py-6">
                        <img src={`/ZPortfolio/${img}`} class="shadow-none rounded-2xl md:max-w-72 md:max-h-72" alt="">
                    </div>
                </a>
            </div>
            
        );
    })
}
</div>