

<form action="https://www.google.com/search" class="mt-16 text-center">
    <input type="text" id="search-bar" name="q" placeholder="  Google Search..." class="border-2 border-neutral-900 shadow-xl px-4 rounded-xl w-8/12">
</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const searchBar = document.getElementById("search-bar")!;
        searchBar.focus();
    });
</script>