<form action="https://www.google.com/search" class="xl:mx-auto mt-16 xl:w-full xl:max-w-xl text-center">
    <input type="text" id="search-bar" name="q" placeholder="  Google Search..." class="border-2 border-neutral-900 dark:border-neutral-50 dark:bg-slate-800 shadow-md shadow-neutral-400 px-4 rounded-xl w-8/12">
</form>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const searchBar = document.getElementById("search-bar")!;
        searchBar.focus();
    });
</script>