---
interface Props {
    title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio" />
        <meta name="viewport" content="width=device.width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="justify-center grid grid-cols-1 bg-gradient-to-b from-neutral-200 to-orange-50 bg-fixed font-mono">
        <Header />
		<Navbar />
        <slot />
    </body>
</html>