---
interface Props {
    title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/fonts.css'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio" />
        <meta name="viewport" content="width=device.width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="justify-center grid grid-cols-1 to-gruv-bg-2 dark:to-gruv-bg-2-dark bg-gradient-to-b dark:bg-gradient-to-b from-gruv-bg-1 dark:from-gruv-bg-1-dark bg-fixed font-jet text-gruv-bg-1-dark dark:text-gruv-bg-1">
        <Header />
        <div class="xl:flex">
            <Navbar titleN={title}> </Navbar>
            <slot />
        </div>
    </body>
</html>
