---
interface Props {
    title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio" />
        <meta name="viewport" content="width=device.width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="justify-center grid grid-cols-1 bg-gradient-to-b dark:bg-gradient-to-b from-neutral-200 dark:from-slate-800 to-orange-50 dark:to-neutral-800 bg-fixed font-jetbrains dark:text-neutral-50">
        <Header />
        <div class="xl:flex">
            <Navbar />
            <slot />
        </div>
    </body>
</html>